/* manueel omzetten less naar css: http://less2css.org/ */
#EloketCevi {
  /********************************/
  /* e-loket stylesheet           */
  /********************************/
  /**********/
  /* Labels */
  /**********/
  /************************************/
  /*Invulscherm vrije stijl (freeform)*/
  /************************************/
  /*Tabel*/
  /*Lijnen*/
  /*************************************/
  /* Lijstscherm in kolomvorm (tabular)*/
  /*************************************/
  /*Tabel*/
  /*Hoofding*/
  /*Lijnen*/
  /*******************/
  /* Informatielinks */
  /*******************/
  /***********/
  /* summary */
  /***********/
  /***************************/
  /* knoppen onderaan pagina */
  /***************************/
  /*Tabel*/
  /*Lijnen*/
  /*****************/
  /* input lay-out */
  /*****************/
  /********/
  /*Fouten*/
  /********/
  /*Tabel*/
  /*Rijen*/
  /***************/
  /*floating divs*/
  /***************/
  /***************/
  /*floating divs*/
  /***************/
  /******************/
  /* diverse labels */
  /******************/
  /******************/
  /* gridviewstyles */
  /******************/
  /* steps */
  /* Past step */
  /* Present step */
  /* Future step */
}

#EloketCevi .ELoketnavigatie ul {
  list-style-image: url(images/ico_nav4.gif);
}
#EloketCevi .ELokettitheader {
  z-index: 9;
  color: #FFFFFF;
  font-size: 0.7em;
  font-weight: bold;
  left: 162px;
  width: 190px;
  position: absolute;
  top: 49px;
  height: 21px;
}
#EloketCevi .ELoketlogon {
  /*font-size:0.7em;*/
}
#EloketCevi .ELoketlabel {
  text-align: right;
  vertical-align: top;
}
#EloketCevi .ELoketinvulstandaard {
  border-collapse: collapse;
  border-top: 1px solid #999999;
  border-bottom: 1px solid #999999;
}
#EloketCevi .ELoketlijststandaard {
  border-collapse: collapse;
  border-style: none;
}
#EloketCevi .ELoketlijststandaard th {
  /*    font-size: 0.85em;*/
  font-style: normal;
  font-weight: bold;
  color: #FFFFFF;
  background-color: #2C5581;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CC3333;
  background-repeat: repeat;
  text-align: left;
}
#EloketCevi .ELoketlijststandaard td {
  /*    font-size: 0.7em;*/
  font-style: normal;
  font-weight: normal;
  border-bottom-style: none;
  background-repeat: repeat;
}
#EloketCevi .ELoketlijststandaardheader td {
  font-weight: bold;
}
#EloketCevi .ELoketinformatielinks {
  border: solid 1px #E6E3D9;
  float: right;
}
#EloketCevi .ELoketinformatielinksheader td {
  background-color: #E6E3D9;
  font-weight: bold;
}
#EloketCevi .ELokettitel {
  font-size: 1.1em;
  font-style: normal;
  text-transform: none;
  margin: 0px;
  padding: 0px;
}
#EloketCevi .ELoketsummarytitle {
  font-size: 1.2em;
  font-weight: bold;
  font-style: normal;
  text-transform: none;
  margin: 0px;
  padding: 0px;
}
#EloketCevi .ELoketsummarysubtitle {
  font-size: 1.1em;
  text-decoration: underline;
  font-weight: bold;
  font-style: normal;
  text-transform: none;
  margin: 0px;
  padding: 0px;
}
#EloketCevi .ELoketsummarylabel {
  font-weight: normal;
  font-style: normal;
  text-transform: none;
}
#EloketCevi .ELoketsummarycontent {
  font-weight: bold;
  font-style: normal;
  text-transform: none;
}
#EloketCevi .ELoketsummaryrefnr {
  font-size: 1.2em;
  color: black;
  font-weight: bold;
}
#EloketCevi .ELoketsummary {
  font-size: 1em;
  color: #000000;
  font-weight: normal;
  font-style: normal;
  text-transform: none;
  margin: 0px;
  padding: 0px;
}
#EloketCevi .ELoketinfo {
  font-style: italic;
}
#EloketCevi .ELokethidden {
  visibility: hidden;
  height: 0px;
}
#EloketCevi .ELoketbuttonstable {
  border-collapse: collapse;
  border-top: 1px solid #999999;
  border-bottom: 1px solid #999999;
}
#EloketCevi .ELoketbuttonstable td {
  /*  font-size: 0.7em;*/
}
#EloketCevi .button {
  display: inline-block;
  *display: inline;
  padding: 4px 12px;
  margin-bottom: 0;
  *margin-left: .3em;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: #f5f5f5;
  *background-color: #e6e6e6;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  border: 1px solid #bbbbbb;
  *border: 0;
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-bottom-color: #a2a2a2;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  border-color: #c5c5c5;
  border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.25);
}
#EloketCevi .radio {
  border: 0;
}
#EloketCevi .checkbox {
  border: 0;
}
#EloketCevi .ELoketfout {
  border: 1px solid red;
  border-style: solid;
  margin-bottom: 15px;
}
#EloketCevi .ELoketfout td {
  /*    font-size: .7em;*/
  color: darkred;
  font-weight: bold;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
}
#EloketCevi .ELoketFormLabelDiv {
  float: left;
  width: 400px;
  margin: 1px;
  padding: 1px;
}
#EloketCevi .ELoketFormInputDiv {
  float: left;
  margin: 1px;
  padding: 1px;
}
#EloketCevi .ELoketFormButtonDiv {
  float: left;
  margin: 1px;
  padding: 1px;
  width: 100px;
}
#EloketCevi .ELoketfloatleft {
  float: left;
  margin: 1px;
  padding: 1px;
}
#EloketCevi .ELoketfloatclear {
  clear: left;
  margin: 1px;
  padding: 1px;
}
#EloketCevi .ELoketfloatclear:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
#EloketCevi .ELoketfloatleft:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
#EloketCevi .ELoketSamengesteldItem {
  clear: left;
}
#EloketCevi .ELoketLoginInfo {
  font-style: italic;
}
#EloketCevi .ELoketfooter {
  border: 1px solid olive;
  padding: 2px;
}
#EloketCevi .ELoketDisplayNone {
  display: none;
}
#EloketCevi .RequiredImage {
  border: none;
  background-image: url(Images/IconVerplicht.gif);
}
#EloketCevi .ELoketGridView {
  padding: 4px;
  color: #333333;
  margin-left: 2em;
}
@media screen and (max-width: 480px) {
  #EloketCevi .ELoketGridView {
    font-size: 2em;
  }
}
#EloketCevi .ELoketGridView td {
  padding: 4px;
}
#EloketCevi .ELoketGridViewRowStyle {
  background-color: #F7F6F3;
  color: #333333;
}
#EloketCevi .ELoketGridViewEditRowStyle {
  background-color: #999999;
}
#EloketCevi .ELoketGridViewFooterStyle {
  background-color: #5D7B9D;
  font-weight: bold;
  color: White;
}
#EloketCevi .ELoketGridViewSelectedRowStyle {
  background-color: #E2DED6;
  font-weight: bold;
  color: #333333;
}
#EloketCevi .ELoketGridViewPagerStyle {
  background-color: #284775;
  color: White;
  text-align: center;
}
#EloketCevi .ELoketGridViewHeaderStyle {
  background-color: #5D7B9D;
  font-weight: bold;
  color: White;
}
#EloketCevi .ELoketGridViewAlternatingRowStyle {
  background-color: White;
  color: #284775;
}
#EloketCevi .ELoketContent {
  float: left;
}
#EloketCevi fieldset .ELoketFormLabelDiv {
  width: 390px;
}
#EloketCevi .ELoketFormInputDiv textarea {
  float: left;
}
#EloketCevi .form-required {
  padding-left: 0.5em;
}
#EloketCevi .ImportantInfo {
  background-color: #BC8F8F;
  border: 3px solid #800000;
  color: #800000;
  font-style: italic;
  margin: 5px;
  padding: 10px;
}
#EloketCevi .AspNet-GridView td {
  padding: 2px 5px;
}
#EloketCevi #content {
  padding-left: 15px;
}
#EloketCevi #ctl00_plhContent_ucFormulier_pnlWizBreadCrumb ul,
#EloketCevi #ctl00_plhContent_lblFormulierWizardBreadCrumbs ul {
  list-style-image: none;
  list-style-type: none;
}
#EloketCevi #ctl00_plhContent_ucFormulier_ucLogon_pnlInfoBijFormulier ul {
  list-style-position: outside;
  list-style-type: none;
  list-style-image: url(images/dot_www.gif);
}

/*
#EloketCevi ul.steps {
  list-style-image: none;
  width: auto;
  list-style-type: none;
  padding: 0;
  margin: 15px 0 15px 21px;
  color: White;
}
#EloketCevi ul.steps li {
  float: left;
  width: auto;
  padding: 0 0 0 20px;
}
#EloketCevi ul.steps li span,
#EloketCevi ul.steps li strong {
  display: block;
  height: 25px;
  line-height: 25px;
  font-weight: normal;
  padding: 0 15px 0 15px;
  background-color: #8888a9;
}
#EloketCevi ul.steps li span a {
  display: block;
  height: 25px;
  line-height: 25px;
  text-decoration: none;
}
#EloketCevi ul.steps li.past span {
  background-color: #007cb4;
}
#EloketCevi ul.steps li.present span,
#EloketCevi ul.steps li.present strong {
  background-color: #d7191b;
  font-weight: bold;
}
#EloketCevi ul.steps li.future span {
  background-color: #002f51;
}

*/
#EloketCevi .section {
  border: 3px solid white;
  -moz-border-radius: 5px;
  margin: 5px;
  padding: 5px;
}
#EloketCevi .ui-search-textbox {
  background-image: url('/eloket/images/search.gif');
  background-repeat: no-repeat;
  background-position: right center;
  /*padding-right: 20px;*/
  min-height: 16px;
}
#EloketCevi .EloketNumeriek {
  text-align: right;
}
#EloketCevi .noscriptmsg {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 101;
  text-align: center;
  font-weight: bold;
  font-size: 150%;
  color: white;
  background-color: #AE0000;
  padding: 5px 0px 5px 0px;
}
#EloketCevi .ELoketOldVsNewInputDiv {
  display: inline;
}
#EloketCevi .validationError {
  border: 1px solid red !important;
  background-color: #f2dede !important;
}
#EloketCevi .alert-error:before {
  content: "\F12A";
  font-family: FontAwesome;
  padding-right: 1em;
}
#EloketCevi .small {
  width: 25em !important;
}
#EloketCevi .medium {
  width: 30em !important;
}
#EloketCevi select.small {
  width: 26em !important;
}
#EloketCevi select.medium {
  width: 31em !important;
}
@media only screen and (max-width: 480px) {
  #EloketCevi .small {
    width: 80%;
  }
  #EloketCevi .medium {
    width: 80%;
  }
}
#EloketCevi .ELoketCheckbox input,
#EloketCevi .ELoketRadio input {
  float: left;
  margin-right: 1em;
}
#EloketCevi .ELoketRadio,
#EloketCevi .ELoketCheckbox {
  width: 100%;
}

#EloketCevi .fa-fa {
  font-family: FontAwesome, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}


/* -- nieuwe stappen -- */
/* manueel omzetten less naar css: http://less2css.org/ */
#nieuweStappen {
  /* one item */
  /* two items */
  /* three items */
  /* four items */
  /* five items */
}
#nieuweStappen * {
  box-sizing: border-box;
}
#nieuweStappen ul {
  padding: 0;
}
#nieuweStappen li {
  text-align: center;
  color: #fff;
  font-weight: bold;
  list-style: none;
}
#nieuweStappen .stepContainer {
  display: block;
/*   width: 100%;
  height: 9em;
 */
  background-color: #F0F0F2;
  border-radius: 5px;
}
#nieuweStappen .dottedLine {
  position: relative;
  width: 80%;
  height: 1px;
  border-color: #61616b;
  border-top-style: dotted;
  border-width: 2px;
  margin-left: auto;
  margin-right: auto;
  top: 37px;
}
#nieuweStappen .steps {
  display: flex;
  position: relative;
  counter-reset: my-step-counter;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
#nieuweStappen .steps li {
  flex: 1;
  text-align: center;
  padding-top: 14px;
}
#nieuweStappen .steps li span,
#nieuweStappen .steps li strong {
  display: block;
  margin-top: 0.25em;
}
#nieuweStappen .steps .past:before,
#nieuweStappen .steps .present:before,
#nieuweStappen .steps .future:before {
  padding-left: 0.7em;
  padding-right: 0.7em;
  padding-top: 0.8em;
  padding-bottom: 1.52em;
  font-weight: bold;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  content: counter(my-step-counter);
  counter-increment: my-step-counter;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 2em;
  height: 1em;
  border-radius: 999px;
  border-style: solid;
  border-width: 1px;
}
#nieuweStappen .steps .past:before {
  background-color: #F0F0F2;
  border-color: #6B6D79;
  color: #6B6D79;
}
#nieuweStappen .steps .present:before {
  background-color: #4AA9D7;
  color: #FFFFFF;
}
#nieuweStappen .steps .future:before {
  background-color: #F0F0F2;
  border-color: #AAAAB4;
  color: #AAAAB4;
}
#nieuweStappen .steps .past span {
  color: #6B6D79;
}
#nieuweStappen .steps .present strong {
  color: #4AA9D7;
}
#nieuweStappen .steps .future span {
  color: #AAAAB4;
}

#EloketCevi .grid__item {
  padding-left: 0 !important;
  width: 100% !important;
}