.body{
  margin: 0;
  padding: 0;
}
#navbar{
  display: flex;
  width: 100%;
  height: 100px;
  top: 0;
  left: 0;
  z-index: 0;
  justify-content: center;
  align-items: center;
}

.list{
  display: flex;
  margin-right: 2rem;
}
ul{
    list-style-type: none;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}
li{
  display: list-item;
  text-align: -webkit-match-parent;
}
.list a{
  
  text-align: center;
  margin-top: -1px;
  display: block;
  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 2px;
  font-size: 12px;
}
a{
  text-decoration: none;
  text-decoration-thickness: initial;
  color: #3ba151;
  cursor: pointer;  
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  
}
a{

  cursor: pointer;
  letter-spacing: 0.5px;
  font-weight: 500;
}

a:hover{
  color:#7ced94;
  font-weight: 10;
}

body{
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  background-color: #000;
}

#cover img{
  border-radius: 5px;
  pointer: cursor;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 100px;
}


#title h1{
  text-align: center;
  justify-content: center;
  color:#f4fff5e3;
  letter-spacing: 1.5px;
  margin-top: 60px;
  margin-bottom: 60px;
  font-size: 70px;
  font-weight: 700;
  font-family: spotify-circular, Helvetica, Arial, sans-serif;
}

#container{
  display:grid;
  align-items:center;
  justify-content: center;
}
#content-row{
  padding-left: 1px;
  padding-right: 1px;
  padding-top: 1px;
  padding-bottom: 1px;
  display: flex;
  margin-top: -10px;
  justify-content: center;
  align-items: center;
  
}
#artist-box{
    margin: 10px;
    width: 25rem;
    height: 100px;
    border-radius: 5px;
    background-color: rgba(80,80,80,0.25);
    text-align: right;
    display: flex;
}

#artist-box:hover{
     background-color: rgba(80,80,80,0.5);
}

#artist-name{
  width: 100px;
  margin-left: 10px;
}
#artist-name h4{
  margin-left: 10px;
  margin-top: 35px;
  text-align: left;
  font-size: 20px;
   color:white;
  font-family: spotify-circular, Helvetica, Arial, sans-serif;
}

.button{
  margin-left: 50px;
  margin-top: 25px;
  display: flex;
  font-size: 45px;
  text-align: right;
  height: 0px;
  padding: 0;
  border: none;  
}

.icon{
  color: #08853a;
}
.icon:hover{
    color: #24d56b;
}

#kpop-section{
  display: grid;
  justify-content: center;
  align-items:center;
  margin-top: 150px;
  padding-top: 40px;
  margin-left: -10px;
  height: 1300px;
  width: 100vw;
  background-color: #66237857;
}

#title2 h1{
  text-align: center;
  color:#f582e7;
  margin-left: -990px;
  margin-top: -70px;
  margin-bottom: -100px;
  letter-spacing: 2px;
  font-size: 100px;
  font-weight: 700;
  font-family: spotify-circular, Helvetica, Arial, sans-serif;
}

#kpop img{
  width: 400px;
  height: 400px;
  padding: 0px;
  margin: 0px;
  transform: scale(1);
  transition: 0.3s ease-in-out;
}
#kpop:hover img{
  transform: scale(1.1);
}

#kpop-name h4{
  margin-top: 25px;
  font-size: 10px;
   color:#f582e7;
  text-align: center;
  font-family: spotify-circular, Helvetica, Arial, sans-serif;
}

#kpop-row{
  margin-top: -50px;
  margin-bottom: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#kpop-row2{
    margin-top: -300px;
  margin-bottom: -80px;
  padding-bottom: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#kpop-box{
  text-align: center;
  margin-left: 100px;
  margin-right: 100px;
}

#album-section{
  display: grid;
  justify-content: center;
  align-items:center;
  margin-left: -10px;
  height: 1500px;
  width: 100vw;
  background-color: rgb(2 4 14);
}

#title3 h1{
  display: block;
  text-align: center;
  color:#14bf51;
  margin-right: -880px;
  margin-top: 10px;
  letter-spacing: 2px;
  font-size: 100px;
  font-weight: 700;
  font-family: spotify-circular, Helvetica, Arial, sans-serif;
}

#album-row{
  padding: 0;
  margin-top: -40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#album-row2{
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#album-row3{
  padding-bottom: 100px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}


#album img{
  width: 200px;
  height: 200px;
  margin: 0;
  padding-top: 30px;
}

#album-box{
    margin-left: 25px;
  margin-right: 25px;
    width: 17rem;
    height: 350px;
    background-color: rgb(22 19 38 / 25%);
    text-align: center;
    display: grid;
}

#album-box:hover{
     background-color: rgba(225,225,225,0.09);
}


#album-name h3{
  margin-top: 25px;
  font-size: 10px;
   color: white;
  margin-left: 36px;
  text-align: left;
  font-family: spotify-circular, Helvetica, Arial, sans-serif;
}

#album-name h4{
  margin-top: -10px;
  padding-bottom: 20px;
  font-size: 15px;
   color: gray;
   margin-left: 37px;
  text-align: left;
  font-family: spotify-circular, Helvetica, Arial, sans-serif;
}